<!doctype html>
<html>
    <head>
        <title>Vývojové prostředí pro PVA</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body>
      
            <h1>Pane učiteli!<h1>
            <p>
                Toto je vývojové prostředí. Protože mě nic nenapdá a jsem rád, že jsem rozchodil aspoň tohle. Něco
            </p>
	
    </body>
</html>
